<html>
  <head>
    <title>Confluence</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
   <script text="javascript">
   </script>

  </head>
  <body>
    <div id="container">
      <div class="pagetitle">
        <h1>Disaster News</h1>
      </div>
      <div id="main" align="left">
          <table>
          <tr>
            <th> Tweet </th>
            <th> Link </th>
          </tr>
          <tr>
            <th> {{data[0]}}</th>
            <th> <a href={{data[1]}}> article</th>
          </tr>
           <tr>
            <th> {{data[2]}}</th>
            <th> <a href={{data[3]}}> article</th>
          </tr>
          <tr>
            <th> {{data[4]}}</th>
            <th> <a href={{data[5]}}> article</th>
          </tr>
           <tr>
            <th> {{data[6]}}</th>
            <th> <a href={{data[7]}}> article</th>
          </tr>
          <tr>
            <th> {{data[8]}}</th>
            <th> <a href={{data[9]}}> article</th>
          </tr>
           <tr>
            <th> {{data[10]}}</th>
            <th> <a href={{data[11]}}> article</th>
          </tr>
          <tr>
            <th> {{data[12]}}</th>
            <th> <a href={{data[13]}}> article</th>
          </tr>
           <tr>
            <th> {{data[14]}}</th>
            <th> <a href={{data[15]}}> article</th>
          </tr>
          <tr>
            <th> {{data[16]}}</th>
            <th> <a href={{data[17]}}> article</th>
          </tr>
           <tr>
            <th> {{data[18]}}</th>
            <th> <a href={{data[19]}}> article</th>
          </tr>
          <tr>
            <th> {{data[20]}}</th>
            <th> <a href={{data[21]}}> article</th>
          </tr>
           <tr>
            <th> {{data[22]}}</th>
            <th> <a href={{data[23]}}> article</th>
          </tr>
          <th> {{data[24]}}</th>
            <th> <a href={{data[25]}}> article</th>
          </tr>
           <tr>
            <th> {{data[26]}}</th>
            <th> <a href={{data[27]}}> article</th>
          </tr>
          <tr>
            <th> {{data[28]}}</th>
            <th> <a href={{data[29]}}> article</th>
          </tr>
           <tr>
            <th> {{data[30]}}</th>
            <th> <a href={{data[31]}}> article</th>
          </tr>
          <tr>
            <th> {{data[32]}}</th>
            <th> <a href={{data[33]}}> article</th>
          </tr>
           <tr>
            <th> {{data[34]}}</th>
            <th> <a href={{data[35]}}> article</th>
          </tr>
          <tr>
            <th> {{data[36]}}</th>
            <th> <a href={{data[37]}}> article</th>
          </tr>
           <tr>
            <th> {{data[38]}}</th>
            <th> <a href={{data[39]}}> article</th>
          </tr>
          <tr>
            <th> {{data[40]}}</th>
            <th> <a href={{data[41]}}> article</th>
          </tr>
           <tr>
            <th> {{data[42]}}</th>
            <th> <a href={{data[43]}}> article</th>
          </tr>
          <tr>
            <th> {{data[44]}}</th>
            <th> <a href={{data[45]}}> article</th>
          </tr>
           <tr>
            <th> {{data[46]}}</th>
            <th> <a href={{data[47]}}> article</th>
          </tr>

          </table>

      </div>
    </div>
  </body>
</html>